# Gradle
.gradle
build/

# IntelliJ
out/
*.iml
.idea/*
!.idea/codeStyles
!.idea/inspectionProfiles
!.idea/runConfigurations

# Ignore Kotlin compiler and error files in plugins/.kotlin
mqtt-cli-plugins/.kotlin/

.java-version
.DS_Store
