name: Publish

on:
  release:
    types: [ published ]

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '11'
      - name: Attach artifacts to GitHub release
        run: ./gradlew githubRelease
        env:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
      - name: Update Homebrew repository
        run: ./gradlew gitPublishPush
        env:
          GRGIT_USER: ${{ secrets.GRGIT_USER }}
