name: Publish

on:
  release:
    types: [ published ]

concurrency:
  group: publish-${{ github.ref }}
  cancel-in-progress: true

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Setup Java
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          distribution: temurin
          java-version: |
            11
            21
      - name: Publish
        env:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          GRGIT_USER: ${{ secrets.JENKINS_GITHUB_TOKEN }}
          ORG_GRADLE_PROJECT_dockerHubUsername: ${{ secrets.DOCKER_USERNAME }}
          ORG_GRADLE_PROJECT_dockerHubPassword: ${{ secrets.DOCKER_TOKEN }}
        run: ./gradlew githubRelease gitPublishPush pushOciImage --registry dockerHub --tag . --tag latest # . is a placeholder for the default tag
