name: Publish

on:
  release:
    types: [ published ]

concurrency:
  group: publish-${{ github.ref }}
  cancel-in-progress: true

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '11'
      - name: Publish
        run: ./gradlew githubRelease gitPublishPush jib
        env:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          GRGIT_USER: ${{ secrets.GRGIT_USER }}
          DOCKER_USER: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_TOKEN }}