name: Publish

on:
  release:
    types: [ published ]

concurrency:
  group: publish-${{ github.ref }}
  cancel-in-progress: true

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
      - name: Setup Java
        uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9 # v4
        with:
          distribution: 'adopt'
          java-version: '11'
      - name: Publish
        run: ./gradlew githubRelease gitPublishPush jib
        env:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          GRGIT_USER: ${{ secrets.GRGIT_USER }}
          DOCKER_USER: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_TOKEN }}