name: Run Snyk monitor on releases

on:
  release:
    types: [ published ]

jobs:
  run-snyk-monitor:
    runs-on: ubuntu-latest
    environment: snyk-monitor-releases

    steps:
      - name: Setup Java
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          distribution: temurin
          java-version: |
            11
            21

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          path: mqtt-cli

      - name: Setup Snyk
        uses: snyk/actions/setup@master

      - name: Run Snyk monitor
        shell: bash
        run: snyk monitor --configuration-matching=^runtimeClasspath$ --target-reference=${{ github.ref_name }} --org=hivemq-releases --project-name=mqtt-cli --remote-repo-url=mqtt-cli --project-lifecycle=production mqtt-cli -d
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
