name: Run Snyk scan on PRs

on:
  pull_request:
    branches:
      - master**

jobs:
  monitor-baseline-project:
    uses: ./.github/workflows/snyk-push.yml
    with:
      github_ref: ${{ github.base_ref }}
    secrets: inherit

  scan-for-new-issues:
    runs-on: ubuntu-latest
    needs: monitor-baseline-project

    steps:
      - name: Setup Java
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          distribution: temurin
          java-version: |
            11
            21

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          path: mqtt-cli

      - name: Check for new issues
        uses: hivemq/hivemq-snyk-composite-action@6cbb364e09401570f117e97cf51f405e5ce31808 # v2.3.1
        with:
          snyk-args: --org=hivemq-mqtt-cli --configuration-matching=^runtimeClasspath$ mqtt-cli -d
          snyk-token: ${{ secrets.SNYK_TOKEN }}
