name: Run Snyk monitor on push

on:
  push:
    branches:
      - master**

jobs:
  run-snyk-monitor:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Java
        uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9 # v4
        with:
          distribution: 'temurin'
          java-version: |
            8
            11

      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
        with:
          path: mqtt-cli

      - name: Setup Snyk
        uses: snyk/actions/setup@master

      - name: Run Snyk monitor
        shell: bash
        run: snyk monitor --configuration-matching=^runtimeClasspath$ --target-reference=${{ github.ref_name }} mqtt-cli
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
