name: Run Snyk monitor on push

on:
  push:
    branches:
      - master**
  workflow_call:
    inputs:
      github_ref:
        required: true
        type: string

jobs:
  run-snyk-monitor:
    runs-on: ubuntu-latest

    steps:
      - name: Select GitHub ref
        id: select_github_ref
        shell: bash
        run: |
          workflow_call_github_ref=${{ inputs.github_ref }}
          echo "selected_github_ref=${workflow_call_github_ref:-${{ github.ref_name }}}" >> "$GITHUB_OUTPUT"

      - name: Setup Java
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          distribution: temurin
          java-version: |
            11
            21

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          path: mqtt-cli
          ref: ${{ steps.select_github_ref.outputs.selected_github_ref }}

      - name: Setup Snyk
        uses: snyk/actions/setup@master

      - name: Run Snyk monitor
        shell: bash
        run: >
          snyk monitor --configuration-matching=^runtimeClasspath$ --target-reference=${{ steps.select_github_ref.outputs.selected_github_ref }} --org=hivemq-mqtt-cli
          --project-name=mqtt-cli --remote-repo-url=mqtt-cli --project-lifecycle=development mqtt-cli -d
          --project-tags=kanbanize_board_name="\"Tooling++&++Extension,kanbanize_board_workflow_name=Development++Workflow,kanbanize_board_column_name=Selected,kanbanize_board_swimlane=Expedite,kanbanize_board_done_sections=4/5\""
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
